@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

/*WILDCARD */
* {
box-sizing: border-box;
font-family: "Raleway" , "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
display: flex;
align-items: center;
justify-content: flex-end;
flex-wrap: wrap;
}

nav a {
    padding: 3rem;
    text-align: center;  
}

nav a:hover {
border-top: 3px solid #0065fc;
}

#logo {
margin-right: auto;
padding: 0 2rem;
}

@media (max-width: 800px) {

}

#titre1 {
font-size: 1.5rem;
font-style: bold;
padding-left: 1rem;
}

#titre2 {
font-size: 1rem;
font-style: "normal";
font-family: "raleway";
padding-left: 1rem;
}

/* Barre de recherche*/

#searchbar { position: relative; width: 1040px; height: auto;
padding-left: 1rem;
padding-top: 1rem;
}

.formulaire {display: inline-block;}

.formulaire .ville {width: 220px; height: 30px;}

.formulaire .bouton{ background-color: #173cb4; color: white;

}



 
