@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #0065fc;
  --lightgray: #f2f2f2;
  --lightblue: #deebff;
}
/*WILDCARD */
* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  padding: 2rem;
  text-align: center;
}

.sub-nav {
  display: flex;
}

.sub-nav a:hover {
  color: #0065fc;
}

nav a:hover {
  border-top: 3px solid #0065fc;
}

#logo {
  margin-right: auto;
  padding: 0 2rem;
}

#titre1 {
  font-size: 1.5rem;
  font-style: bold;
  padding-left: 1rem;
  margin-bottom: 10px;
}

#titre2 {
  font-size: 1rem;
  font-style: "normal";
  font-family: "raleway";
  padding-left: 1rem;
  margin-bottom: 20px;
}

/* SEARCHFORM*/
.search-form {
  display: flex;
  padding-left: 0.8rem;
}

.search-form > * {
  padding: 1rem 1.5rem;
}

.search-form i {
  background-color: lightgray;
  border-radius: 1rem 0 0 1rem;
}

.search-form input {
  flex-basis: 16rem;
  border: solid 1px lightgray;
  padding: 1rem;
}

.search-form input::placeholder {
  font-size: 1rem;
}

.search-form button {
  background-color: #0065fc;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  transition: transform 150ms;
}

.fas.fa-search {
  display: none;
}

.search-form button:hover {
  opacity: 1;
  transform: scale(1.03);
}

@media (max-width: 800px) {
  .sub-nav {
    flex-basis: 100%;
  }
  .input-search-text {
    display: none;
  }
  .fas.fa-search {
    background-color: #0065fc;
    display: inline;
  }
}
.sub-nav a {
  flex-basis: 50%;
}

/* FILTERS */

.filter-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.filter {
  border: 2px solid lightgray;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.filter-list h1 {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.fas.fa-money-bill-wave {
  color: blue;
  background-color: #deebff;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}

.fas.fa-child {
  color: blue;
  background-color: #deebff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-heart {
  color: blue;
  background-color: #deebff;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}

.fas.fa-dog {
  color: blue;
  background-color: #deebff;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}

.filter span {
  font-weight: bold;
  padding: 0 1rem;
}

/* FILTER HOVER  */

.filter:hover {
  opacity: 1;
  transform: scale(1.03);
  cursor: pointer;
}
