@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*WILDCARD */
* {
  font-family: "Raleway", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

nav a {
  padding: 2rem;
  text-align: center;
}

.sub-nav {
  display: flex;
}

.sub-nav a:hover {
  color: #0065fc;
}

nav a:hover {
  border-top: 3px solid #0065fc;
}

#logo {
  margin-right: auto;
  padding: 0 2rem;
}

#titre1 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 1rem;
  margin-bottom: 10px;
}

#titre2 {
  font-size: 1rem;
  font-weight: "normal";
  font-family: "raleway";
  padding-left: 1rem;
  margin-bottom: 20px;
}

/* SEARCHFORM*/
.search-form {
  display: flex;
  padding-left: 0.8rem;
}

.search-form > * {
  padding: 1rem 1.5rem;
}

.search-form i {
  background-color: lightgray;
  border-radius: 1rem 0 0 1rem;
}

.search-form input {
  flex-basis: 16rem;
  border: solid 1px lightgray;
  padding: 1rem;
}

.search-form input::placeholder {
  font-size: 1rem;
}

.search-form button {
  background-color: #0065fc;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 0 1rem 1rem 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  transition: transform 150ms;
}

.fas.fa-search {
  display: none;
}

.search-form button:hover {
  opacity: 1;
  transform: scale(1.03);
}

@media (max-width: 800px) {
  .sub-nav {
    flex-basis: 100%;
  }
  .input-search-text {
    display: none;
  }
  .fas.fa-search {
    background-color: #0065fc;
    display: inline;
  }
}
.sub-nav a {
  flex-basis: 50%;
}

/* FILTERS */

.filter-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.filter {
  border: 2px solid lightgray;
  border-radius: 2rem;
  display: flex;
  align-items: center;
}

.filter-list h1 {
  padding-left: 1rem;
  font-size: 1.2rem;
}

.fas.fa-money-bill-wave {
  color: blue;
  background-color: #deebff;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}

.fas.fa-child {
  color: blue;
  background-color: #deebff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: -2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-heart {
  color: blue;
  background-color: #deebff;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}

.fas.fa-dog {
  color: blue;
  background-color: #deebff;
  padding: 1rem;
  border-radius: 50%;
  margin: -2px;
}

.filter span {
  font-weight: bold;
  padding: 0 1rem;
}

/* FILTER HOVER  */

.filter:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: #f3f8ff;
}

/* Information */

.info {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-left: 1rem;
}

.fas.fa-info {
  color: #0065fc;
  width: 2rem;
  height: 2rem;
  border: solid 1px darkgray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

/* LISTE DES APPARTEMENTS */

.appartements-list {
  display: flex;
  gap: 1rem;
}

.appartements-list > div {
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

.marseille {
  flex-basis: 66%;
}

.populaire {
  flex-basis: 33%;
}

.marseille a {
  font-weight: bold;
}

@media (max-width: 1200px) {
  .appartements-list {
    flex-direction: column-reverse;
  }
}

.liste-appartements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1rem;
  gap: 1rem;
}

.appartements-list .populaire {
  flex-direction: column;
  display: flex;
  gap: 1rem;
}

/* Cards Marseille */
.carte-appartement {
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0 16px #0000002e;
}

.carte-appartement :hover {
  transform: scale(1.03);
  cursor: pointer;
}

.carte-appartement img {
  border-radius: 1rem 1rem 0 0;
  height: 10rem;
  width: 20rem;
}

.carte-appartement p {
  margin: 0.3rem;
}

.carte-appartement h3 {
  margin: 0.3rem;
}

.populaire .carte-appartement .populaire-description p {
  margin: 0.2rem;
}

.populaire .carte-appartement .populaire-description .stars {
  margin-top: auto;
}

.blue {
  color: #0065fc;
}

.grey {
  color: darkgray;
}

/* Populaire CARD */

.populaire {
  display: flex;
  flex-direction: column;
}

.populaire .carte-appartement {
  display: flex;
  flex-basis: 100%;
  background-color: white;
  min-width: 15rem;
  height: 9rem;
  max-height: 10rem;
  box-shadow: 0 0 16px #0000002e;
}

.populaire .carte-appartement img {
  width: 50%;
  border-radius: 1rem 0 0 1rem;
  margin-right: 0.5rem;
  object-fit: cover;
}

.populaire .carte-appartement .populaire-description {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}

.populaire h3 {
  display: flex;
  justify-content: space-between;
}

/* ACTIVITES */

.activities-main-wrapper {
  padding-top: 35px;
}

.activities-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 35px;
  align-items: center;
  width: 100%;
  height: 600px;
}

.activities-first-container {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
  display: flex;
  flex-direction: column;
}

.activities-image-1 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.activities-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  height: 70px;
  width: 95%;
}

.activities-first-container:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.activities-second-container {
  width: 23%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-second-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activities-image-2 {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.activities-image-3 {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.activities-second-box:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.activities-third-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activities-image-4 {
  object-fit: cover;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.activities-third-box:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.activities-fourth-container {
  width: 23%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-fourth-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.activities-fourth-box:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: ease-in-out 0.3s;
}

.activities-image-5 {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.activities-image-6 {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

@media screen and (max-width: 768px) {
  .activities-wrapper {
    flex-direction: column;
    height: auto;
  }

  .activities-wrapper img {
    height: 200px;
  }

  .activities-main-wrapper {
    padding-right: 20px;
    padding-left: 20px;
  }

  .activities-main-wrapper div {
    width: 100%;
  }

  .activities-fourth-box {
    margin-bottom: 30px;
  }
}

/* FOOTER */

.footer-container {
  width: 100%;
  background: #f2f2f2;
  height: 250px;
  display: flex;
  padding-top: 40px;
  margin-left: 0;
  margin-top: 50px;
}

.footer-box {
  flex: 1;
}

.footer-ul {
  list-style-type: none;
}

.section-footer-title {
  margin-left: 40px;
}

.section-footer-link {
  text-decoration: none;
  color: grey;
  line-height: 40px;
}
